* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url('https://wallpapers.com/images/hd/best-rocket-league-background-3840-x-2160-ql0e8h1vrf6bm3ne.jpg') 
              no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.hero {
  text-align: center;
  margin-top: 40px;
  user-select: none;
}

.hero h1 {
  font-size: 2.6rem;
}

#countdown {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 15px;
  margin-top: 25px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

button {
  padding: 12px;
  background: #ff8800;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

button:hover {
  background: #ff5500;
}

.mapa {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 2rem;
  }
  #countdown {
    font-size: 1.2rem;
  }
}
